<style>
    table,
    tr,
    td {
        border: 2px solid red;
    }
</style>
<h1>Ice Cream Page</h1>
<table>
    <tr>
        <td>Name</td>
        <td>Price</td>
        <td>Awesomeness</td>
    </tr>
    <tr>
        <td>{{name}}</td>
        <td>{{price}}</td>
        <td>{{awesomeness}}</td>
    </tr>
</table>
<a href="/">Home</a>